@page "/"

<PageTitle>Home</PageTitle>

<div class="row my-lg-3 d-flex flex-column justify-content-center">
    <h2 class="my-5 text-center">Coffee shop</h2>
    <p class="text-center">Pick the view:</p>
    <div class="container text-center w-50">
        <div class="row gx-2">
            <div class="col">
                <NavLink href="/Admin" class="btn btn-primary">Admin view</NavLink>
            </div>
            <div class="col">
                <NavLink href="/Client" class="btn btn-primary">Client view</NavLink>
            </div>
        </div>
    </div>
</div>